<div class="content-inner-list">
    <div class="row">
        {% for i in items %}
        <div class="col-xs-4">
            <small>{{ i.created|date:'d F Y' }}</small>
            <p>
                <a href="{{ i.get_absolute_url }}">{{ i.title }}</a>
            </p>
        </div>
        {% endfor %}
    </div>
</div>