{% if is_paginated %}
<div class="paging">
    <ul>
    {% if page_obj.has_previous %}
        <li>
            <a href="?page={{page_obj.previous_page_number}}"> < </a>
        </li>
    {% endif %}
    {% for p in paginator.page_range %}
        <li {% if page_obj.number == p %}class="active"{% endif %}>
            {% if page_obj.number != p %}
            <a href="?page={{p}}">{{ p }}</a>
            {% else %}
            <span>{{ p }}</span>
            {% endif %}
        </li>
    {% endfor %}
    {% if page_obj.has_next %}
        <li>
            <a href="?page={{page_obj.next_page_number}}"> > </a>
        </li>
    {% endif %}
    </ul>
</div>
{% endif %}