{% load cms_tags sekizai_tags menu_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>{% page_attribute "page_title" %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" -->

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" media="screen">
    {% render_block "css" %}
</head>
<body class="">
    {% cms_toolbar %}

    {% block popover %}{% endblock %}
    <div class="container">
        <div class="head">
            <div class="row">
                <div class="col-xs-2 col-xs-offset-5">
                    <div class="logo">
                        <a href="/"><img src="{{STATIC_URL}}img/logo.png"></a>
                    </div>
                </div>
                <div class="col-xs-3 col-xs-offset-2">
                    <a href="{% page_url 'contacts' %}" class="contact-data">
                        {% static_placeholder 'top_phones' %}
                    </a>
                    <div class="draw-white"></div>
                </div>
            </div>
        </div>

        {% block container %}
        <div class="content">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                    {% block caorusel %}
                    {% endblock %}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2 col-xs-offset-1">
                    <ul class="menu">
                        {% block menu %}{% show_menu 0 0 0 100 "menu/menu.html" %}{% endblock %}
                    </ul>
                </div>
                <div class="col-xs-8">
                    {% block content %}
                        {% placeholder base_content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        {% endblock %}
    </div>

    <div class="bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    {% static_placeholder 'bottom_data' %}
                </div>
            </div>
        </div>
    </div>

    <script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}bower_components/bootstrap/js/transition.js"></script>
    <script src="{{ STATIC_URL }}bower_components/bootstrap/js/modal.js"></script>
    <script src="{{ STATIC_URL }}bower_components/bootstrap/js/carousel.js"></script>
    <script src="{{ STATIC_URL }}js/project.js"></script>

    {% block script %}{% endblock %}
    {% render_block "js" %}
</body>
</html>