{% extends '__base.html' %}
{% load menu_tags cms_tags sekizai_tags index %}

{% block content %}
    <h1>{% page_attribute "title"  %}</h1>

    {% show_breadcrumb 0 "menu/breadcrumb.html" %}

    <div class="row">
        <div class="col-xs-6">
            <h2>Контактные данные</h2>

            {% placeholder contact_data %}
        </div>
        <div class="col-xs-6">
            <h2>Мы в социальных сетях</h2>
            {% placeholder contact_social %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {% placeholder map %}
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="contact_photo">
                {% placeholder contact_img %}
            </div>
        </div>
        <div class="col-xs-6">
            <h2>Обратная связь</h2>
            <div id="feedback_form">
                {% feedback_form request %}
            </div>
        </div>
    </div>

    {% placeholder base_content %}
{% endblock %}

{% block script %}
   <script type="text/javascript">
   $(document).ready(function(){
       $('#feedback_form form').submit(function(e){
           $.post('/feedback_form/', $(this).serialize(), function(data){
               $('#feedback_form').html(data);
           });
           return false;
       });
   })
   </script>
{% endblock %}