{% extends '__base.html' %}
{% load menu_tags cms_tags sekizai_tags index caorusel_tags %}

{% block caorusel %}
    {% caorusel_banner %}
{% endblock %}


{% block content %}
    <br>
    <h2 class="index-h4 arrow-right"><a href="{% page_url 'news' %}">Новости Molintego</a></h2>
    {% get_news %}

    {% placeholder base_content %}
{% endblock %}