{% load grouper thumbnail %}

<div class="mosaic-item">
    <div id="carousel-generic-{{o.pk}}" class="carousel slide" data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
          {% for img in o.material_photos.all %}
          <div class="item {% if forloop.first %}active{% endif %}"><img src="{% thumbnail img.img 300x200 crop %}"></div>
          {% endfor %}
      </div>

      <a class="left carousel-control" href="#carousel-generic-{{o.pk}}" role="button" data-slide="prev">
        <i class="min icon-prev" aria-hidden="true"></i>
      </a>
      <a class="right carousel-control" href="#carousel-generic-{{o.pk}}" role="button" data-slide="next">
        <i class="min icon-next" aria-hidden="true"></i>
      </a>
    </div>

    <h4 class=""><span class="light">Арт.:</span> {{o.art}}</h4>
    <p>
        <span class="light">Состав:</span>
        <span>{{o.structure}}</span>
    </p>
    <p>
        <span class="light">Страна:</span>
        <span>{{o.country}}</span>
    </p>
    <p>
        {% if o.we_has %}
        <span class="color-brand">В наличии</span>
        {% else %}
        Под заказ
        {% endif %}
    </p>
</div>