{% extends '__base.html' %}
{% load menu_tags cms_tags sekizai_tags index grouper thumbnail %}

{% block menu %}{% show_menu 0 100 0 100 "menu/menu.html" %}{% endblock %}

{% block content %}
    <h1>{% page_attribute "title"  %}</h1>

    {% show_breadcrumb 0 "menu/breadcrumb.html" %}

    {% for i in items|grouper:3 %}
    <div class="row">
        {% for o in i %}
        <div class="col-xs-4">
            {% if o %}
            {% include 'materials/__item.html' with o=o %}
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% endfor %}


    {% include 'parts/paging.html' with is_paginated=is_paginated paginator=paginator page_obj=page_obj %}

{% endblock %}