{% extends '__base.html' %}

{% load cms_tags menu_tags thumbnail %}

{% block content %}
    <h1>{% page_attribute "page_title" %}</h1>

    {% show_breadcrumb 0 "menu/breadcrumb.html" %}

    <h2>{{ item.title }}</h2>
    <br>
    <img src="{% thumbnail item.img 600x300 crop %}">

    {{ item.content|safe }}
    
{% endblock %}