{% extends '__base.html' %}

{% load cms_tags menu_tags thumbnail %}

{% block content %}
    <h1>{% page_attribute "page_title" %}</h1>

    {% show_breadcrumb 0 "menu/breadcrumb.html" %}

    {% for i in object_list %}
    <div class="row news-item">
        <div class="col-xs-3">
            <a href="{{ i.get_absolute_url }}"><img src="{% thumbnail i.img 170x80 crop %}"></a>
        </div>
        <div class="col-xs-9">
            <small>{{ i.created|date:'j E Y' }}</small>
            <h3><a href="{{ i.get_absolute_url }}">{{ i.title }}</a></h3>
        </div>
    </div>
    {% endfor %}

    {% include 'parts/paging.html' with is_paginated=is_paginated paginator=paginator page_obj=page_obj %}

{% endblock %}