{% load thumbnail %}

<div class="carousel slide" data-ride="carousel" data-active="1" id="index-carousel">
    <div class="social">
        <a class="social-item-fb" href="http://facebook.com/molintego"></a>
        <a class="social-item-twitter" href="http://instagram.com/molintego"></a>
        <a class="social-item-mail" href="mailto:info@molintego.ru"></a>
    </div>

    <div class="carousel-inner">
        {% for i in items %}
        <div class="item {% if forloop.first %}active{% endif %}">
            <h3>{{ i.title }}</h3>

            {% if item.url %}
            <a href="{{ i.url }}"><img src="{% thumbnail i.img 1115x400 crop quality=95 %}" alt=""></a>
            {% else %}
            <img src="{% thumbnail i.img 1115x400 crop quality=95 %}" alt="">
            {% endif %}
        </div>
        {% endfor %}
    </div>

    <a href="#" class="carousel-control left" data-slide="prev" data-target="#index-carousel"><i class="icon-prev"></i></a>
    <a href="#" class="carousel-control right" data-slide="next" data-target="#index-carousel"><i class="icon-next"></i></a>
</div>