//@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/bootstrap/less/mixins.less";
@import "../bower_components/bootstrap/less/variables.less";
@import "../bower_components/bootstrap/less/normalize.less";

@import "../bower_components/bootstrap/less/scaffolding.less";
@import "../bower_components/bootstrap/less/grid.less";
@import "../bower_components/bootstrap/less/alerts.less";
@import "../bower_components/bootstrap/less/forms.less";
@import "../bower_components/bootstrap/less/utilities.less";
@import "../bower_components/bootstrap/less/responsive-utilities.less";

@import "../bower_components/bootstrap/less/component-animations.less";

@import "../bower_components/bootstrap/less/type.less";
@import "../bower_components/bootstrap/less/carousel.less";
@import "../bower_components/bootstrap/less/close.less";
@import "../bower_components/bootstrap/less/modals.less";

@import "../bower_components/fontawesome/less/font-awesome.less";

/* vars */
@text-color: #6d6e70;
@base-color: #eb2a5a;
@brand-primary: @base-color;

@headings-color: #000;
@headings-font-family: 'Helvetica Neue', Arial, sans-serif;;
@headings-font-weight: 100;
@headings-line-height: 1em;
@line-height-computed: 10px;

@font-size-h1: 50px;
@font-size-h2: 28px;

@border-radius-base:        0px;
@border-radius-large:       0px;
@border-radius-small:       0px;

@input-height-base:         30px;
@input-height-large:        50px;
@input-height-small:        24px;

@input-border-focus: lighten(@base-color, 20%);

@fa-font-path: '/static/bower_components/fontawesome/fonts';

/* mixins and utils */
.ul_clear() {
  list-style: none;
  margin: 0; padding: 0;

  li {
    margin: 0; padding: 0;
  }
}
.clear {
  clear: both;
}

/* base style */
html {
  height: 100%;
}
body {
  height: 100%;
  min-width: 970px !important;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: 200;

  & > .container {
    min-height: 100%;
  }
}
.container {
  min-width: 970px !important;
}
a {
  border-bottom: 1px solid lighten(@base-color, 20%);
  &:hover {
    color: lighten(@base-color, 25%);
    border-bottom: 1px solid lighten(@base-color, 30%);
    text-decoration: none;
  }
}


.head {
  height: 190px;
  background: url('../img/waterfall.png') repeat-x center;

  .row, [class*='col-'],
  .logo, .contact-data {
    height: 100%;
    display: block;
    text-decoration: none;
    border: none;
    vertical-align: middle;
    color: @text-color;
    &:hover {
      color: @link-color;
    }
  }

  .logo {
    text-align: center;
    vertical-align: middle;
    background: #fff;
    padding: 45px 20px 0;
  }
  .contact-data {
    padding-top: 70px;
    text-align: right;
    padding-right: 80px;
    line-height: 1.3em;
    position: relative;
    z-index: 10;
    background: #fff url('../img/email.png') no-repeat right center;
  }
  .draw-white {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background: #fff;
  }
}

.content {
  margin-bottom: 100px;
}

.carousel {
  .social {
    background: url('../img/social-icons__underplate.png') no-repeat;
    width: 38px;
    height: 113px;
    position: absolute;
    left: 38px;
    top: 0;
    padding: 6px 0 0;
    z-index: 20;

    & > a {
      height: 23px;
      width: 23px;
      display: inline-block;
      background: url('../img/social-icons.png') no-repeat;
      margin: 3px 0 0 8px;
      border: none;

      &.social-item {
        &-fb { background-position: 0 0px; }
        &-twitter { background-position: 0 -23px; }
        &-mail { background-position: 0 -48px; }
      }
    }
  }
  &-inner {
    .item {
      h3 {
        width: 300px;
        height: 48px;
        line-height: 48px;
        background: url('../img/title__underplate.png') no-repeat left top;
        position: absolute;
        bottom: 30px;
        left: 0;
        color: #fff;
        text-align: right;
        padding-right: 30px;
        font-weight: normal;
        text-transform: uppercase;
        font-weight: 200;

        a {
          border: none;
        }
      }
      img {
        width: 100%;
      }
    }
  }
  .carousel-control i {
    height: 58px;
    width: 20px;
    margin-top: -30px;
    display: inline-block;
    &:before { content: ''; }
  }
  .carousel-control.left i {
    left: 30px;
    background: url('../img/arrow-left.png') no-repeat;
  }
  .carousel-control.right i {
    right: 30px;
    background: url('../img/arrow-right.png') no-repeat;
  }
  .carousel-control i.min {
    width: 10px;
    height: 29px;
    margin-top: -15px;
    background-size: 100% !important;
  }
}

.menu {
  .ul_clear;
  margin: 20px 0;
  font-size: 17px;
  font-weight: 200;

  li {
    margin: 4px 0;
    a {
      display: inline-block;
      padding: 2px 5px;
      color: @text-color;
      text-transform: uppercase;
      text-decoration: none;
      margin-left: -5px;
      border: none;
      &:hover {
        color: #aaa;
      }
    }
    &.active {
      & > a, & > span {
        color: #fff;
        background: @base-color;
        &:hover {
          color: #fff;
        }
      }

      ul {
        .ul_clear;
        margin: 0 0 0 10px;
        font-size: 13px;

        li {
          a {
            text-transform: none;
          }
          &.active {
            a {
              color: @base-color;
              background: #fff;
            }
          }
        }
      }
    }
  }
}

.breadcrumbs {
  margin: 0px 0 40px;
  ul {
    .ul_clear;
    display: block;
    font-size: 12px;

    li {
      list-style: none;
      display: inline-block;

      &:after {
        content: '>';
        margin: 0 4px;
        display: inline-block;
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }
}

.paging {
  ul {
    .ul_clear;
    li {
      display: inline-block;
      text-align: center;
      margin: 0 2px 0 0;

      &.active {
        background: #eee;
      }

      & > a, & > span {
        display: inline-block;
        min-width: 24px;
        line-height: 26px;
        text-decoration: none;
        border: none;
      }
      & > a:hover {
        background: @base-color;
        color: #fff;
      }
    }
  }
}

.social-list {
  font-size: 50px;
  a {
    border: none;
    display: inline-block;
    margin-right: 20px;
    background: @base-color;
    color: #fff;
    width: 70px;
    height: 70px;
    text-align: center;
    &:hover {
      background: lighten(@base-color, 10%);
    }
  }
}
.contact_photo {
  img {
    width: 100%;
  }
}
#map {
  margin: 40px 0;
}

.news-item {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;

  &:last-child { border: none; }
}
.mosaic-item {
  margin: 0 0 30px;

  h2, h3, h4, p {
    margin-bottom: 10px;
  }
  .light {
    color: #bbb;
  }

  img {
    width: 100%;
  }
}

.filter {
  background: @base-color;
  padding: 20px;
  color: #fff;
  margin: 0 0 20px;

  a {
    color: #fff;
  }

  h4 {
    margin-top: 20px;
    color: rgba(255,255,255, .5);
  }

  ul {
    .ul_clear;

    li {
      margin: 5px 0 5px -5px;
      padding: 2px 5px;

      &.active {
        background: lighten(@base-color, 15%);

        a {
          border:  none;
        }
      }
    }
  }

  .toggle {
    margin: 0;
    padding: 0;

    a {
      color: #fff;
      border-bottom: 1px dotted;
    }
  }
}

.gallery {
  .main-img {
    width: 100%;
    max-width: 490px;
    text-align: center;
    background: #efefef;

    &-img {

    }
  }
  .preview_list {
    a {
      display: inline-block;
      border: 3px solid #fff;
      margin: 0 0 2px;
      width: 104px;
      text-align: center;
      background: #efefef;
      padding: 0;

      img {
        max-width: 100px;
      }

      &.active {
        outline: 3px solid @base-color;
      }
    }
  }
}

.request-button {
  display: block;
  line-height: 80px;
  height: 80px;
  color: @base-color;
  background: #eee;
  border: none;
  text-align: center;
  font-size: 18px;

  &:hover {
    border: none;
    background: #dfdfdf;
    color: darken(@base-color, 10%);
  }
}

.btn {
  background: @base-color;
  color: #fff;
  line-height: 34px;
  padding: 0 15px;
  font-size: 13px;
  border: none;

  &:active {
    #gradient > .vertical(darken(@base-color, 5%), lighten(@base-color, 5%));
  }
}

.bottom {
  background: @base-color;
  line-height: 42px;
  height: 42px;
  color: #fff;
  text-align: right;
  position: relative;
  margin-top: -42px;
}
//.row { background: rgba(255, 0, 0, .2); }
//[class*='col-'] { background: rgba(0, 255, 0, .2); }

hr {
  margin: 20px 0;
  border-bottom: 1px solid #ddd;
  height: 1;
}

.color-brand { color: @base-color; }