<div class="reference">
    <div class="row">
        <div class="col-xs-6">
            <span class="date">{{ item.created|date:'d E Y' }}</span>
            <div class="title"><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></div>
        </div>
        <div class="col-xs-6">
            <span class="date">{{ item.created|date:'d E Y' }}</span>
            <div class="title"><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></div>
        </div>
    </div>
</div>