{% extends '__base.html' %}
{% load menu_tags cms_tags sekizai_tags index grouper thumbnail %}

{% block content %}
    <h1>{% page_attribute "title"  %}</h1>

    {% show_breadcrumb 0 "menu/breadcrumb.html" %}

    {% placeholder base_content %}

    {% for i in items|grouper:3 %}
    <div class="row">
        {% for o in i %}
        <div class="col-xs-4">
            <div class="mosaic-item">
                <a href="{{ o.get_absolute_url }}">
                    <img src="{% thumbnail o.img 200x200 crop %}">
                    <h3 class="">{{o.title}}</h3>
                </a>
                <p>
                    <small>{{o.description}}</small>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}

{% endblock %}