<!DOCTYPE html>
<html>
<head>
    <title>{% page_attribute "page_title" %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" -->

    <link rel="stylesheet" type="text/css" href="./css/style.css" media="screen">
</head>
<body class="">
    <div class="container">
        <div class="head">
            <div class="row">
                <div class="col-xs-2 col-xs-offset-5">
                    <div class="logo">
                        <a href="#"><img src="./img/logo.png"></a>
                    </div>
                </div>
                <div class="col-xs-3 col-xs-offset-2">
                    <div class="contact-data">
                        Екатеринбург,<br>
                        Тверская-Ямская, 150<br>
                        +7 (964) 112-23-56
                    </div>
                    <div class="draw-white"></div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">

                    <div class="carousel slide" data-ride="carousel" data-active="1" id="index-carousel">
                        <div class="social">
                            <a class="social-item-fb" href="#"></a>
                            <a class="social-item-twitter" href="#"></a>
                            <a class="social-item-mail" href="#"></a>
                        </div>

                        <div class="carousel-inner">
                            <div class="item active">
                                <h3>Весна/лето '15</h3>
                                <a href="#"><img src="./img/data/index-baner.jpg" alt=""></a>
                            </div>
                            <div class="item">
                                <h3>Весна/лето '14</h3>
                                <a href="#"><img src="./img/data/index-baner-1.jpg" alt=""></a>
                            </div>
                        </div>

                        <a href="#" class="carousel-control left" data-slide="prev" data-target="#index-carousel"><i class="icon-prev"></i></a>
                        <a href="#" class="carousel-control right" data-slide="next" data-target="#index-carousel"><i class="icon-next"></i></a>
                    </div>


                    <ul class="menu">
                        <li><a href="#">Мастерская</a></li>
                        <li><a href="#">Услуги</a></li>
                        <li><a href="#">Цены</a></li>
                        <li><a href="#">Блог</a></li>
                        <li><a href="#">Галерея</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    molintego, 2014
                </div>
            </div>
        </div>
    </div>

    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./bower_components/bootstrap/js/transition.js"></script>
    <script src="./bower_components/bootstrap/js/carousel.js"></script>
    <script src="./js/project.js"></script>
</body>
</html>