<div class="filter">
    <div class="filter__inner">
        <h3 class="toggle">
            <a href="#">Фильтр моделей</a>
        </h3>

        <div class="row" {% if not not_hide %}style="display: none;"{% endif %} id="filter-data">
            <div class="col-xs-7 col-xs-offset-">
                <h4>По коллекциям</h4>

                <ul>
                {% for i in collection %}
                    <li {% if i.pk|title == request_pk.collection_pk %}class="active"{% endif %}>
                        <a href="{{ i.get_absolute_url }}">{{ i.title }}</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
            <div class="col-xs-5">
                <h4>По категориям</h4>
                <ul>
                {% for i in type %}
                    <li {% if i.pk|title == request_pk.type_pk %}class="active"{% endif %}>
                        <a href="{{ i.get_absolute_url }}">{{ i.title }}</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>

    </div>
</div>