{% load grouper thumbnail %}

<div class="mosaic-item">
    <h3 class="">
        <a href="{{ o.get_absolute_url }}">{{o.title}}</a>
    </h3>

    {% with o.catalog_photos.all.0 as img %}
        <a href="{{ o.get_absolute_url }}"><img src="{% thumbnail img.img 300x200 %}"></a>
    {% endwith %}
</div>