{% if not ok %}
    {% csrf_token %}
    {{ form.as_p }}
{% else %}
    <div class="alert alert-success">
        Благодарим за вашу заявку! Наш оператор вскоре свяжется с вами.
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#requestSubmitButton').hide()
            $('#requestCloseButton').show();
        })
    </script>
{% endif %}