{% extends '__base.html' %}
{% load menu_tags cms_tags sekizai_tags index grouper thumbnail %}

{% block content %}
    <h1>{% page_attribute "title"  %}</h1>

    {% show_breadcrumb 0 "menu/breadcrumb.html" %}

    {% include 'catalog/__filter.html' with collection=collection type=type request_pk=request_pk not_hide=True %}

    {% placeholder base_content %}

    {% for i in item.catalog_type.all|grouper:3 %}
    <div class="row">
        {% for o in i %}
        <div class="col-xs-4">
            {% if o %}
            {% include 'catalog/__item.html' with o=o %}
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% empty %}
        К сожалению, в данной категории нет моделей.
    {% endfor %}

{% endblock %}