{% extends '__base.html' %}
{% load menu_tags cms_tags sekizai_tags index grouper thumbnail %}

{% block content %}
    <h1>{% page_attribute "title"  %}</h1>

    {% show_breadcrumb 0 "menu/breadcrumb.html" %}

    <h2>{{item.title}}</h2>

    <div class="gallery">
        <div class="row">
            <div class="col-xs-8">

                <div class="main-img">
                    {% with item.catalog_photos.all.0 as img %}
                        <img src="{% thumbnail img.img 490x540 %}" class="main-img-img">
                    {% endwith %}
                </div>

                <p>{{ item.description|safe }}</p>
            </div>
            <div class="col-xs-2">
                <div class="preview_list">
                {% for i in item.catalog_photos.all|slice:':5' %}
                <a href="#" data-target="{% thumbnail i.img 490x540 %}"
                            {% if forloop.first %}class="active"{% endif %}>
                    <img src="{% thumbnail i.img 100x100 %}"></a>
                </a>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="requestModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Оформить заявку на похожий товар</h4>
          </div>
          <div class="modal-body">
            <form action="{% url 'request_form' item.pk %}">
              <div id="requestForm">
                {% csrf_token %}
                {{ form.as_p }}
              </div>
              <br>

              <button type="submit" class="btn btn-default" id="requestSubmitButton">Отправить</button>
              <button type="submit" class="btn btn-default" id="requestCloseButton" data-dismiss="modal" style="display: none;">Жду звонка</button>
            </form>

          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="row">
        <div class="col-xs-12">
            <a href="#" data-toggle="modal" data-target="#requestModal" class="request-button">
                Заказать подобную модель
            </a>
        </div>
    </div>

{% endblock %}