{% extends '__base.html' %}
{% load menu_tags cms_tags sekizai_tags index grouper thumbnail %}

{% block content %}
    <h1>{% page_attribute "title"  %}</h1>

    {% show_breadcrumb 0 "menu/breadcrumb.html" %}

    {% include 'catalog/__filter.html' with collection=collection type=type request=request not_hide=True %}

    {% placeholder base_content %}

    {% for i in items|grouper:3 %}
    <div class="row">
        {% for o in i %}
        <div class="col-xs-4">
            {% if o %}
            {% include 'catalog/__item.html' with o=o %}
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% empty %}
        К сожалению, в данной категории нет моделей.
    {% endfor %}


    {% include 'parts/paging.html' with is_paginated=is_paginated paginator=paginator page_obj=page_obj %}

{% endblock %}